.naming__wrapper {
  display: grid;
  grid-template-columns: 30% 15% 15% 20% 20%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.total {
  display: grid;
  justify-content: end;
  font-size: 20px;
}