@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url("./fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: Roboto-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(113, 179, 238);
}