@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url("./fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: Roboto-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}